<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!-- <h6>About</h6> -->
          <p class="text-justify">Shop with confidence, explore with ease:</p>
          <ul>
            <li>
              <strong>Secure transactions:</strong> We prioritize your safety with
              secure payment gateways and encrypted data practices.
            </li>
            <li>
              <strong>Fast & reliable delivery:</strong> Get your purchases
              quickly and conveniently with our efficient delivery options.
            </li>
            <li>
              <strong>24/7 customer support:</strong> Our dedicated team is always
              here to answer your questions and assist you.
            </li>
            <li>
              <strong>Stay connected:</strong> Follow us on social media for
              exclusive offers and updates.
            </li>
          </ul>
          <p>Happy shopping!</p>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li>
              <a href="http://scanfcode.com/contribute-at-scanfcode/"
                >Contribute</a
              >
            </li>
            <li>
              <a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a>
            </li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
            Copyright &copy; 2017 All Rights Reserved by
            <a href="#">Scanfcode</a>.
          </p>
        </div>
  
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="facebook" href="#"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a class="dribbble" href="#"
                ><i class="fa-brands fa-dribbble"></i
              ></a>
            </li>
            <li>
              <a class="linkedin" href="#">
                <i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  