.logo {
    padding-top: 5px;
    display: flex;
    color: blueviolet;
    cursor:pointer;
  }
.logo h1{
  width: max-content;
}

.logo i{
  font-size: 2em;
  bottom: -7px;
  position: relative;
}
  .nav {
    margin-top: -10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: -webkit-fill-available;
    display: flex;
    border-bottom: 1px solid blueviolet;
    -webkit-backdrop-filter: blur(3.5px);
    backdrop-filter: blur(3.5px);
    position: fixed;
    justify-content: space-between;
    left:0;
  }
  
  .nav h1 {
    color: blueviolet;
    margin: 0;
    font-size: 2em;
  }
  
  .nav ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    padding-left: 15px;
    padding-top: 15px;
  }
  
  .nav li a {
    text-decoration: none;
    color: blueviolet;
  }
  
  .nav .nav-search {
    margin-top: 10px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .nav .nav-search input {
    flex: 1;
    color: blueviolet;
    height: 30px;
    border: 1px solid blueviolet;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .nav .nav-search button {
    background-color: blueviolet;
    height: 34px;
    color: white;
    /* border: 1px solid black; */
    border-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  