<nav class="nav {{mobileNav}}" [ngClass]="{ 'hide': showNav === 'hide' }">
  <header class="logo" (click)="router.navigate(['/'])">
    <h1>E-COMM</h1>
    <i class="fa-solid fa-cart-shopping"></i>
  </header>
  <div [ngSwitch]="menuType" class="menu">
    <div *ngIf="menuType ==='default' || menuType === 'user'" class="nav-search">
      <input type="text" placeholder="Search for Products" (keyup)="searchProducts($event)" (blur)="hideSearch()" />
      <button (click)="searchResults()">Search</button>
      <ul class="search-results" *ngIf="searchProductData">
        <li class="search-result" *ngFor="let product of searchProductData" (click)="clickSearchResult(product.id)">{{product.title}}</li>
      </ul>
    </div>
    <ul *ngSwitchDefault class="menuItems">
      <li class="menuItem"><a routerLink="/">Home</a></li>
      <li class="menuItem">
        <span (click)="toggleCategories()" class="category-icon">Category</span>
      </li>
      <li class="menuItem"><a routerLink="seller-auth">Seller</a></li>
      <li class="menuItem"><a routerLink="user-auth">Login</a></li>
      <li class="menuItem"><a routerLink="cart">Cart<span class="wpex-header-cart-icon__count">{{cartItems}}</span></a></li>
    </ul>
    <ul *ngSwitchCase="'user'"  class="menuItems">
      <li class="menuItem"><a routerLink="/">Home</a></li>
      <li class="menuItem">
        <span (click)="toggleCategories()" class="category-icon">Category</span>
      </li>
      <li class="menuItem"><a routerLink="seller-auth">Seller</a></li>
      <li class="menuItem">{{userName | titlecase }}</li>
      <li class="menuItem"><a routerLink="user-logout" (click)="logoutUser()">Log out</a></li>
      <li class="menuItem"><a href="#">Cart <span class="wpex-header-cart-icon__count">{{cartItems}}</span></a></li>
    </ul>
    <ul *ngSwitchCase="'seller'" class="menuItems">
      <li class="menuItem"><a routerLink="seller-add-product">Add Product</a></li>
      <li class="menuItem"><a routerLink="seller-auth">Seller</a></li>
      <li class="menuItem"><a routerLink="seller-logout" (click)="logoutSeller()">Log out</a></li>
      <li class="menuItem"><a>{{sellerName | titlecase }}</a></li>
    </ul>
  </div>
  <fa-icon *ngIf="!mobileNav" class="fa-xl toggle" [icon]="this.bar" (click)="toggleMobileMenu()"></fa-icon>
  <fa-icon *ngIf="mobileNav" class="fa-xl toggle" [icon]="this.cross" (click)="toggleMobileMenu()"></fa-icon>
</nav>
<div *ngIf="mobileNav" [ngSwitch]="menuType" class="mobileMenu">
  <div *ngIf="menuType ==='default'" class="nav-search" (blur)="hideSearch()" >
    <input type="text" placeholder="Search for Products" (keyup)="searchProducts($event)" />
    <button (click)="searchResults()">Search</button>
    <ul class="search-results-mobile" *ngIf="searchProductData">
      <li class="search-result" *ngFor="let product of searchProductData" (click)="clickSearchResult(product.id)">{{product.title}}</li>
    </ul>
  </div>
  <ul *ngSwitchDefault class="menuItems">
    <li class="menuItem"><a routerLink="/">Home</a></li>
      <li class="menuItem"><a (click)="toggleCategories()">Category</a></li>
      <li class="menuItem"><a routerLink="seller-auth">Seller</a></li>
    <li class="menuItem"><a routerLink="user-auth">Login</a></li>
    <li class="menuItem"><a routerLink="cart">Cart<span  class="wpex-header-cart-icon__count">{{cartItems}}</span></a></li>
  </ul>
  <ul *ngSwitchCase="'user'" class="menuItems">
    <li class="menuItem"><a routerLink="/">Home</a></li>
      <li class="menuItem"><a (click)="toggleCategories()">Category</a></li>
      <li class="menuItem"><a routerLink="seller-auth">Seller</a></li>
      <li class="menuItem"><a>{{userName | titlecase }}</a></li>
      <li class="menuItem"><a routerLink="seller-logout" (click)="logoutSeller()">Log out</a></li>
    <li class="menuItem"><a routerLink="cart">Cart<span  class="wpex-header-cart-icon__count">{{cartItems}}</span></a></li>
  </ul>
  <ul *ngSwitchCase="'seller'" class="menuItems">
    <li class="menuItem"><a routerLink="seller-add-product">Add Product</a></li>
    <li class="menuItem"><a routerLink="seller-auth">Seller</a></li>
    <li class="menuItem"><a routerLink="seller-logout" (click)="logoutSeller()">Log out</a></li>
    <li class="menuItem"><a>{{sellerName | titlecase }}</a></li>
  </ul>
</div>

<div class="category-menu" *ngIf="showCategories">
  <div class="row">
    <div class="col-sm-3" *ngFor="let cat of categoryList">{{cat}}</div>
  </div>
</div>