<div class="product-list-wrapper">
    <div class="product-header">
        <h1 *ngIf="!noResults">{{showCategory | titlecase}}</h1>
    </div>
    <div *ngIf="isLoading" class="loading">
        <div class='loading-item' *ngFor="let i of numbers; index as idx">
            <a class="card" id="card-link" target="_blank">
                <div class="card__body">
                    <div class="card__body body__img">
                        <img class="skeleton" alt="" id="cover-img" />
                    </div>
                </div>
                <div class="card__header">
                    <h3 class="card__header header__title" id="card-title">
                        <div class="product-price">
                            Price:
                            <div class="skeleton skeleton-text"></div>
                        </div>
                        <div class="product-category">
                            Brand:
                            <div class="skeleton skeleton-text"></div>
                        </div>
                    </h3>
                </div>
                <div class="card__footer" id="card-footer">
                    <div class="skeleton skeleton-text skeleton-footer"></div>
                    <div class="skeleton skeleton-text skeleton-footer"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="productList">
        <!-- <div class="product-item" *ngFor="let product of productData">
            <div class="product-icon">
                <a routerLink="/product/{{product.id}}">
                    <img src="{{product.images[0]}}" alt="">
                </a>
            </div>
            <div class="product-details">
                <p class="name-head">{{product.title}}</p>
                <div class="product-price">
                    Price: ${{product.price}}
                </div>
                <div class="product-category">
                    Brand: {{product.brand}}
                </div>
                <div class="product-footer">
                    <a class="btn" routerLink="/product/{{product.id}}">View Details</a>
                    <a class="btn" href="">Add to Cart</a>
                </div>
            </div>
        </div> -->
        <div class="row search-item" *ngFor="let item of productData">
            <div class="col-sm-3">
                <a routerLink="/product/{{item.id}}">
                    <img src="{{item.images[0]}}" alt="">
                </a>
            </div>
            <div class="col-sm-8 details">
                <h6> <a routerLink="/product/{{item.id}}" class="product-title"> {{item.title}} </a></h6>
                <p><b>Price:{{item.price}}</b></p>
                <p>
                    <span>Color:{{item.brand}}</span>
                    <span>Category: {{item.category}}</span>
                </p>
                <p>{{item.description}}</p>
                <div class="btn-wrapper">
                    <button *ngIf="!inCart" class='add btn' (click)="addToCart(item)">Add to Cart</button>
                    <!-- <button *ngIf="inCart" class='remove btn' (click)="removeFromCart(item)">Remove from Cart</button> -->
                    <button class="buy btn" (click)="buyNow(item)">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="noResults" *ngIf="noResults">
        <h1> No Results for: "{{showCategory}}"</h1>
        <div class="card container">
            <div class="card-body">
                <h2 class="card-title">Sorry, We Couldn't Find a Match</h2>
                <div class="row">
                    <div class="col-sm-">
                        <div class="heading">Try Finding it Another Way</div>
                        <ul>
                            <li>Use different Search words.</li>
                            <li>Check your Spelling.</li>
                            <li>Enter other details.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>