<div class="home-container">
    <div class="parent">
        <img class="general val1" src="{{backgrounds[0]}}" />
        <div *ngIf="!backgrounds[0]" class="general val1 card__body">
            <div class="card__body body__img">
                <img class="skeleton" alt="" id="cover-img" />
            </div>
        </div>
        <a href="#men" class="men btn">Show Men's Fashion</a>
        <img class="general val2" src="{{backgrounds[1]}}" />
        <div *ngIf="!backgrounds[1]" class="general val2 card__body">
            <div class="card__body body__img">
                <img class="skeleton" alt="" id="cover-img" />
            </div>
        </div>
        <a href="#women" class="women btn">Show Women's Fashion</a>
        <img class="general val3" src="{{backgrounds[2]}}" />
        <div *ngIf="!backgrounds[2]" class="general val3 card__body">
            <div class="card__body body__img">
                <img class="skeleton" alt="" id="cover-img" />
            </div>
        </div>
        <a href="#acces" class="acces btn">Show Accessories</a>
    </div>
    <div class="product-list-wrapper">
        <div class="product-header">
            <h1>Trendy Products</h1>
            <a href="">View All</a>
        </div>
        <div *ngIf="isLoading" class="loading row" ><div class='col-sm-3' *ngFor="let i of numbers; index as idx">
            <a class="card" id="card-link" target="_blank">
            <div class="card__body">
                <div class="card__body body__img">
                    <img class="skeleton" alt="" id="cover-img" />
                </div>
            </div>
            <div class="card__header">
                <h3 class="card__header header__title" id="card-title">
                <div class="product-price">
                        Price: 
                    <div class="skeleton skeleton-text"></div>
                    </div>
                    <div class="product-category">
                        Brand: 
                    <div class="skeleton skeleton-text"></div>
                </div>
            </h3>
            </div>
            <div class="card__footer" id="card-footer">
                <div class="skeleton skeleton-text skeleton-footer"></div>
                <div class="skeleton skeleton-text skeleton-footer"></div>
            </div>
        </a>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-3" *ngFor="let product of productList">
                <div class="product-icon">
                    <img src="{{product.images[0]}}" alt="">
                </div>
                <div class="product-details">
                    <p class="name-head">{{product.title}}</p>
                    <div class="product-price">
                        Price: ${{product.price}}
                    </div>
                    <div class="product-category">
                        Brand: {{product.brand}}
                    </div>
                </div>
                <div class="product-footer">
                    <a routerLink="/product/{{product.id}}">View Details</a>
                    <a href="">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-list-wrapper" id="men">
        <div class="product-header">
            <h1>Men's Fashion</h1>
            <a href="">View All</a>
        </div>
        <div *ngIf="isLoading" class="loading row" ><div class='col-sm-3' *ngFor="let i of numbers; index as idx">
            <a class="card" id="card-link" target="_blank">
            <div class="card__body">
                <div class="card__body body__img">
                    <img class="skeleton" alt="" id="cover-img" />
                </div>
            </div>
            <div class="card__header">
                <h3 class="card__header header__title" id="card-title">
                <div class="product-price">
                        Price: 
                    <div class="skeleton skeleton-text"></div>
                    </div>
                    <div class="product-category">
                        Brand: 
                    <div class="skeleton skeleton-text"></div>
                </div>
            </h3>
            </div>
            <div class="card__footer" id="card-footer">
                <div class="skeleton skeleton-text skeleton-footer"></div>
                <div class="skeleton skeleton-text skeleton-footer"></div>
            </div>
        </a>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-3" *ngFor="let product of menProductList">
                <div class="product-icon">
                    <img src="{{product.images[0]}}" alt="">
                </div>
                <div class="product-details">
                    <p class="name-head">{{product.title}}</p>
                    <div class="product-price">
                        Price: ${{product.price}}
                    </div>
                    <div class="product-category">
                        Brand: {{product.brand}}
                    </div>
                </div>
                <div class="product-footer">
                    <a routerLink="/product/{{product.id}}">View Details</a>
                    <a href="">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-list-wrapper" id="women">
        <div class="product-header">
            <h1>Women's Fashion</h1>
            <a href="">View All</a>
        </div>
        <div *ngIf="isLoading" class="loading row" ><div class='col-sm-3' *ngFor="let i of numbers; index as idx">
            <a class="card" id="card-link" target="_blank">
            <div class="card__body">
                <div class="card__body body__img">
                    <img class="skeleton" alt="" id="cover-img" />
                </div>
            </div>
            <div class="card__header">
                <h3 class="card__header header__title" id="card-title">
                <div class="product-price">
                        Price: 
                    <div class="skeleton skeleton-text"></div>
                    </div>
                    <div class="product-category">
                        Brand: 
                    <div class="skeleton skeleton-text"></div>
                </div>
            </h3>
            </div>
            <div class="card__footer" id="card-footer">
                <div class="skeleton skeleton-text skeleton-footer"></div>
                <div class="skeleton skeleton-text skeleton-footer"></div>
            </div>
        </a>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-3" *ngFor="let product of womenProductList">
                <div class="product-icon">
                    <img src="{{product.images[0]}}" alt="">
                </div>
                <div class="product-details">
                    <p class="name-head">{{product.title}}</p>
                    <div class="product-price">
                        Price: ${{product.price}}
                    </div>
                    <div class="product-category">
                        Brand: {{product.brand}}
                    </div>
                </div>
                <div class="product-footer">
                    <a routerLink="/product/{{product.id}}">View Details</a>
                    <a href="">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-list-wrapper" id="acces">
        <div class="product-header">
            <h1>Fashion Accessories</h1>
            <a href="">View All</a>
        </div>
        <div class="row">
            <div class="col-sm-3" *ngFor="let product of accesList">
                <div class="product-icon">
                    <img src="{{product.images[0]}}" alt="">
                </div>
                <div class="product-details">
                    <p class="name-head">{{product.title}}</p>
                    <div class="product-price">
                        Price: ${{product.price}}
                    </div>
                    <div class="product-category">
                        Brand: {{product.brand}}
                    </div>
                </div>
                <div class="product-footer">
                    <a routerLink="/product/{{product.id}}">View Details</a>
                    <a href="">Add to Cart</a>
                </div>
            </div>
            <!-- Loading -->
            <div *ngIf="isLoading" class="loading row" ><div class='col-sm-3' *ngFor="let i of numbers; index as idx">
                <a class="card" id="card-link" target="_blank">
                <div class="card__body">

                    <div class="card__body body__img">
                        <img class="skeleton" alt="" id="cover-img" />
                    </div>
                </div>
                <div class="card__header">
                    <h3 class="card__header header__title" id="card-title">
                    <div class="product-price">
                            Price: 
                        <div class="skeleton skeleton-text"></div>
                        </div>
                        <div class="product-category">
                            Brand: 
                        <div class="skeleton skeleton-text"></div>
                    </div>
                </h3>
                </div>
                <div class="card__footer" id="card-footer">
                    <div class="skeleton skeleton-text skeleton-footer"></div>
                    <div class="skeleton skeleton-text skeleton-footer"></div>
                </div>
            </a>
            </div>
        </div>
        </div>
    </div>
</div>