<div class="product-list">
    <h1 class="page-title">All Product List</h1>
    <span class="form__success">{{this.deleteMsg}}</span>
    <div *ngIf="productList" class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Discount Percentage</th>
                <th>Stock</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    <div *ngIf="productList" class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr *ngFor="let item of productList">
            <td><img src="{{item.thumbnail}}" alt=""></td>
            <td>{{item.title}}</td>
            <td>${{item.price}}</td>
            <td>{{item.discountPercentage}}</td>
            <td>{{item.stock}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.category}}</td>
            <td>{{item.description}}</td>
            <td>
                <fa-icon class="dlt fa-xl" [icon]="this.deleteIcon" (click)="removeProduct(item.id)"></fa-icon>
                <a routerLink="/seller-edit-product/{{item.id}}">
                  <fa-icon class="edit fa-xl" [icon]="this.editIcon"></fa-icon>
                </a>
            </td>
        </tr>
    </tbody>
    </table>
    </div>
    <div *ngIf="!productList" class="tableWrapper">
        <table class="table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>Discount Percentage</th>
              <th>Stock</th>
              <th>Brand</th>
              <th>Category</th>
              <th>Description</th>
                <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="loading">
                <div class="bar"></div>
              </td>
              <td class="loading">
                <div class="bar"></div>
              </td>
              <td class="loading">
                <div class="bar"></div>
              </td>
              <td class="loading">
                <div class="bar"></div>
              </td>
              <td class="loading">
                <div class="bar"></div>
              </td>
            <td><button class="dlt btn"><i class="fa-solid fa-trash"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    
</div>