<div class="add-product">
    <form #addNewProduct="ngForm" (ngSubmit)="addProduct(addNewProduct.value)">
        <h1 class="page-title">Add New Product</h1>
        <div class="form__item">
            <label for="name" class="form__label">Product Name</label>
            <input ngModel type="text" class="form__input" name="title" id="product-name"
                placeholder="Enter Product Name" />
        </div>
        <div class="form__item">
            <label for="category" class="form__label">Product Category</label>
            <input ngModel type="text" class="form__input" name="category" id="product-category"
                placeholder="Enter Product Category" />
        </div>
        <div class="form__item">
            <label for="price" class="form__label">Product Price</label>
            <input ngModel type="number" class="form__input" name="price" id="price"
                placeholder="Enter Product Price" />
        </div>
        <div class="form__item">
            <label for="productImage" class="form__label">Product Image</label>
            <input ngModel type="text" class="form__input" name="image" id="product-productImage"
                placeholder="Enter Product Image URL" />
        </div>
        <div class="form__item">
            <label for="description" class="form__label">Product Description</label>
            <textarea ngModel class="form__input" name="description" id="product-description" 
                placeholder="Enter Product Description" ></textarea>
        </div>
        <div class="form__item">
            <span class="form__success">{{this.addProductMessage}}</span>
            <button class="form__btn" type="submit">Add Product</button>
        </div>
    </form>
</div>